html{
  background-color:#f8ede0
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  background-color: transparent;
  text-align: center;
}
#live {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
}
#local-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}
#remote-video {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#end-call {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #FF3131;
  color: white;
  border: none;
  margin: 16px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-appearance: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.home {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 175%;
}
.no_select {
  user-select: none;
}